.snap-confirm {
  padding: 16px 32px;
  border-top: 1px solid var(--color-border-muted);
  border-bottom: 1px solid var(--color-border-muted);
  margin: 24px 0 16px 0;

  .text {
    font-family: monospace;
  }

  &--text-input {
    display: block;
    margin: 0 auto;
    padding: 5px;
    border-radius: 5px;
    border: 2px solid;
    width: 90%;
  }
}
